{% extends 'main.html' %} {% block content %} {% if message %}
<div class="alert alert-danger">{{ message }}</div>
{% endif %}
<!-- <link rel="stylesheet" href="main.css" /> -->

  <div class="container">
    <div
      class="card-body"
      style="
        border: 10px black;
        background-image: url(https://wallpapersmug.com/download/1920x1080/d16c59/green-leaves-close-up-portrait.jpg);
        
      "
    >
        <br />
        <br />
        <br />
      <h2 style="color:white;text-align: center;">LEAF DISEASE DETECTION.</h2>

      <br />
      <br />
      
      <div class="content">
        <a href="leaf.html">
        <h1 style="color: rgb(250, 249, 249);text-align: center;">Disease Detector</h1> 
        </a>

    </div>
      <br />
      <br />
      <br />
      <br />
      <br />

      <div class="row">
        <div
          class="col-md-12 card card-body"
          style="box-shadow: 0 0 10px blue; margin: 12px"
        >
          <h4>IMPORTANCE OF LEAF DISEASE DETECTION</h4>
          <p>
            The detection of plant disease is of vital importance in practical
            agricultural production. It scrutinizes the plant's growth and
            health condition and guarantees the regular operation and harvest of
            the agricultural planting to proceed successfully. In recent
            decades, the maturation of computer vision technology has provided
            more possibilities for implementing plant disease detection.
          </p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
